td {
  border: 1px;
  border-style: solid;
  margin: 1px;
  position: relative;
  /*table-layout: fixed;*/


}

tr {
  width: 750px;
  height: 750px;
  background-color: grey;
  position: absolute;
  /*table-layout: fixed;*/
  margin-left: 10px;
  margin-bottom: 5%;
  /*margin-top: -3%;*/
}

 /*div {
  width: 20px;
  height: 20px;
  border-style: groove;
  border-color: black;
  position: fixed;
  margin: 10px;

}*/

h1 {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

section {
  position: fixed;
  right: 0;
  height: 90%;
  width: 7.5%;
  border-style: groove;
  border-color: black;
  background-color: black;
  display: inline-block;


}

#pink{
  height:8%;
  width:90%;
  background-color: pink;
  margin: 0 auto;
}

#purple{
  height:8%;
  width:90%;
  background-color: purple;
  margin: 0 auto;
}

#red{
  height:8%;
  width:90%;
  background-color: red;
  margin: 0 auto;
}

#orange{
  height:8%;
  width:90%;
  background-color: orange;
  margin: 0 auto;
}

#yellow{
  height:8%;
  width:90%;
  background-color: yellow;
  margin: 0 auto;
}

#green{
  height:8%;
  width:90%;
  background-color: green;
  margin: 0 auto;
}

#blue{
  height:8%;
  width:90%;
  background-color: blue;
  margin: 0 auto;
}

#teal{
  height:8%;
  width:90%;
  background-color: teal;
  margin: 0 auto;
}

#random{
  height:8%;
  width:90%;
  background-color: maroon;
  margin: 0 auto;
}

#white{
  height:8%;
  width:90%;
  background-color: white;
  margin: 0 auto;
}

#grey{
  height:8%;
  width:90%;
  background-color: grey;
  margin: 0 auto;
}

#black{
  height:8%;
  width:90%;
  background-color: black;
  margin: 0 auto;
  border-style: dashed;
  border-color: white;
}

#userChoice{
  width: 10%;
	height: 10%;
	/*border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;*/
  margin-right: 23%;
  margin-top: 23%;
  border-style: dashed;
  border-color: white;

}

html{
  background-color: black;
}
